{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": ["plugin:react/recommended", "airbnb", "prettier"],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": ["react"],
	"rules": {
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		
		// react 함수형 컴포넌트 정의 방식 선언
		"react/function-component-definition": [2, {"namedComponents": "arrow-function"}]
	}
}
